.main {
  max-width: 950px;
  margin: 0 auto;
}

.header {
  height: 60px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.logoBtn {
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}
