.imageCard {
  cursor: pointer;
  flex: 1;

  &:hover {
    box-shadow: var(--mantine-shadow-around);
  }
}

.duelContainer {
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px;

  &:hover:not(:has(.imageCard:hover)) {
    background-color: var(--mantine-color-gray-0);
  }
}

.gotoText{
  .gotoTextSpan {
    text-decoration: none;
  }

  &:hover {
    .gotoTextSpan {    
      text-decoration: underline;
    }
  }
}