.imageCard {
  cursor: pointer;
  flex: 1;

  &:hover {
    box-shadow: var(--mantine-shadow-around);
  }
}

.gotoText {
  cursor: pointer;

  .gotoTextSpan {
    text-decoration: none;
  }

  &:hover {
    .gotoTextSpan {
      text-decoration: underline;
    }
  }
}
