.cardInfo {
  padding-top: var(--mantine-spacing-xxs);
  padding-bottom: var(--mantine-spacing-xs);
}

.controls {
  margin-bottom: 6px;
  flex-wrap: wrap;
}

.sortSelect {
  flex: 0 0 auto;
  min-width: 150px;
}

.sortSelect :global(input) {
  caret-color: transparent;
  cursor: pointer;
}


