.card {
  cursor: pointer;

  &:hover {
    box-shadow: var(--mantine-shadow-around);
  }
}

.cardInfo {
  padding-top: var(--mantine-spacing-xxs);
  padding-bottom: var(--mantine-spacing-xs);
}

.controls {
  margin-bottom: var(--mantine-spacing-xs);
  flex-wrap: wrap;
}

.sortSelect {
  flex: 0 0 auto;
  min-width: 150px;
}

.sortSelect :global(input) {
  caret-color: transparent;
  cursor: pointer;
}

masonrycontainer {
  gap: 4px !important;

  & div {
    gap: 4px !important;
  }
}
