.imageCard {
  cursor: pointer;
  flex: 1;

  &:hover {
    box-shadow: var(--mantine-shadow-around);
  }
}

.image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  padding-top: 100%;
}
