.base {
  height: 50px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px) saturate(1.8);
  -webkit-backdrop-filter: blur(10px) saturate(1.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemIcon {
  color: var(--mantine-color-gray-6);
  width: 25px;
  height: 25px;
}
