.card {
  cursor: pointer;
  transition: box-shadow 50ms ease, transform 50ms ease;

  &:hover {
    box-shadow: var(--mantine-shadow-xs);
    transform: scale(1.003);
  }
}

.image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  padding-top: 100%;
}
