.navbar {
  width: 60px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-bg);
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-sm);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

.logoBtn {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--mantine-spacing-xs);
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-gray-7);
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  width: 100%;

  &:hover {
    background-color: var(--mantine-color-gray-0);
  }
}

.itemIcon {
  width: 25px;
  height: 25px;
}
